block content

  // Modal
  #add-supplier-modal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header.admin-colors
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Add a new {{ctrl.label}}
        .modal-body
          .form-group
            label(for="new-drinkmaker-name") Name of new {{ctrl.label}}
            input#new-drinkmaker-name.form-control(ng-model="ctrl.supplierName")
            label(for="new-drinkmaker-email") Contact email
            input#new-drinkmaker-email.form-control(type="email" ng-model="ctrl.contactEmail")
            label(for="new-drinkmaker-abn") ABN
            input#new-drinkmaker-abn.form-control(type="number" ng-model="ctrl.abn")
          .alert.alert-danger(ng-hide="!ctrl.errmsg")
            | {{ctrl.errmsg}}
        .modal-footer.admin-colors
          button.btn.btn-danger(type="button" ng-click="ctrl.newDrinkmaker()" ng-disabled="ctrl.inProgress")
            .spinner.glyphicon.glyphicon-refresh(ng-hide="!ctrl.inProgress")
            | Add {{ctrl.label}}
          button.btn.btn-danger(type="button" data-dismiss="modal") Close
